.THIS {
    z-index: 0;
}

.THIS.SpinnerClass {

    z-index: 1;
}

.THIS .slds-table--scrolable {

    display: block;
    overflow: auto;
    max-height: 25rem;
}

.THIS .slds-table--fix {
    min-height: 15rem;
}

.THIS .slcfs-100 {
    width: 100%;
}

.THIS .slcfs-spread {
    justify-content: space-between;
}

.THIS .slds-card__header-title--bold {
    font-weight: bold;
}

.THIS .slds-search_wrapper {
    position: relative;
}

.THIS .slds-search-input--with-padding input {
    padding-left: 2rem;
}

.THIS .slds-clear-search_icon {
    cursor: pointer;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 44%;
    bottom: 0;
    right: 5%;
    opacity: 0;
    transform: translateY(-50%);
}

.THIS .slds-search_icon {
    cursor: unset;
    left: 5%;
    top: 44%;
    position: absolute;
    transform: translateY(-50%);
}

.THIS .slds-search_icon svg {
    fill: rgb(176, 173, 171);
}

.THIS .slds-search_wrapper.slds-is-searching .slds-clear-search_icon {
    opacity: 1;
}