.THIS {
    width: 100%;
}

.THIS .white svg {
    color: #fff;
    fill: rgb(255, 255, 255);
}

.THIS.slds-modal--fix {
    z-index: 2;
    position: relative;
}

.THIS.slds-modal--fix-noncommunity {
    z-index: 8000;
    position: relative;
}

.THIS .slds-modal--foregrounded {
    z-index: 101;
}

.THIS .slds-backdrop--foregrounded {
    z-index: 100;
}

.THIS .slds-modal--foregrounded--fix-noncommunity {
    z-index: 8001;
}

.THIS .slds-backdrop--foregrounded--fix-noncommunity {
    z-index: 8000;
}