.THIS .memberSearchContainer{
    background: #FFFFFF;
}

.THIS .headerContainer{
    background: rgb(243, 242, 242);
}

.THIS .resultsContainer{
    overflow-x: auto;
}

.THIS .iconMarginRight{
    margin-right: 3px;
}

.THIS .text-align_center{
    text-align: center;
}

.THIS .errorMessage{
    font-size: 20px;
}

.THIS .uiInput--default .form-element__label {
    display:inline-block;
    margin-bottom:.125rem;
    padding-top:.25rem;
    font-size:.75rem;
}

.THIS .uiInput--input .input,
.THIS .uiInput--input.input {
    min-height:32px;
}

.THIS .uiInput--datetime .datePicker-openIcon {
    bottom:9px;
}

.THIS .oneAnchorHeader{
    display: block !important;
    padding: 1rem !important;
}

@media only screen and (max-width: 1400px){
    .THIS .customWidth{
        max-width: 192px;
    }
    
    .THIS .halfWidth {
        max-width: 100px;
    }
}

@media only screen and (min-width: 1401px){
    .THIS .customWidth{
        max-width: 230px;
    }
    
    .THIS .halfWidth {
        max-width: 100px;
    }
}

.THIS .marginTop{
    margin-top: -74px;
}

.THIS .placeholderText::placeholder, .THIS .placeholderText input::placeholder {
    color: #CCCCCC;
}

.THIS .linkIcon:active, .THIS .linkIcon:hover {
    text-decoration: none;
}

.THIS .linkIcon:hover span, .THIS .link:active span {
    text-decoration: underline;
    color: rgb(0, 95, 178);
}