.THIS.slfwf-mob-wrapper {
  border-top: 1px solid rgb(221, 219, 218);
}

.THIS .slfwf-mob-header {
  background-color: rgb(243, 242, 242);
  margin-bottom: 0;
}

.THIS .slfwf-mob-stack_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(221, 219, 218);
  padding: 0.25rem 1rem;
}

.THIS .slfwf-mob-stack_file-info {
  display: flex;
  flex-wrap: wrap;
  color: rgb(62, 62, 60);
}

.THIS .slfwf-mob-stack_file-info--small-text * {
  font-size: 0.675rem;
}

.THIS .slfwf-mob-stack_file-info_item {
  display: flex;
  align-items: center;
}

.THIS .slfwf-mob-stack_file-info_item:not(:last-child):after {
  content: '\2022';
  margin: 0 2px;
}